/*
*  LAYOUT
*/
.site {
    display: grid;
    grid-template-columns: 
        [viewport-start] minmax(1em, 1fr)
        [container-start] minmax(0, 30em) [container-end]
        minmax(1em, 1fr) [viewport-end];
}

.item--contained {
    grid-column: container;
}

.item--full { 
    grid-column: viewport; 
    display: inherit;
    grid-template-columns: inherit;
}

.item--full * {
    grid-column: container;
}

/*
*  TYPOGRAPHY
*/


/*
*  ELEMENTS
*/

label,
textarea {
    display: block;
}